@font-face {
	font-family: 'DM Serif Display';
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/dm-serif-display/DMSerifDisplay-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'DM Serif Display';
	font-style: italic;
	font-weight: normal;
	src: url('/fonts/dm-serif-display/DMSerifDisplay-Italic.ttf') format('truetype');
}
